.Header_Container{
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
}

.Header_Container {
    padding: 4rem 0;
    /* position: relative; */
}

.Header_Container h1{
    font-size: 25px;
}

.Header_Button{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0 ;

}

.Header_Button button{
    padding: 0.8rem 1.5rem;
}

.Header_Button .btn{
    background-color: var(--bg-color);
    border: 1px solid gray;
}

.btn:hover{
    background-color: blue;
}

.Header_Container img{
    width: 250px;
    border-radius: 15rem 15rem 0 0;
}

.socialLink{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.socialLink .Line{
    width: 2px;
    height: 20px;
    background-color: black;
}



@media screen and (max-width: 400px) {
    .socialLink{
        display: none;
    }
    .Header_Logo{
        display: none;
    }

    .Header_Container{
        width: 95%;
    }
}